
/*extra*/
.hide {
  display: none;
}
/*alignment*/
.top {
  margin-left: 8vw;
  margin-top: 5.6vh;
  transform: translate(-50%, -50%); 
}
.middle {
  margin-left: 50vw;
  margin-top: 90vh;
}
.center {
  margin-left: 10vw;
  margin-top: 50vh;
}
.background-home {
    background-image: url("../images/backgrounds/home.png");
}
.background-play {
    background-image: url("../images/backgrounds/play.png");
}
.background-credits {
    background-image: url("../images/backgrounds/credits.png");

}
.background-customize {
    background-image: url("../images/backgrounds/customize.png");
}
.background-died {
    background-image: url("../images/backgrounds/died.png");
}